block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Book List View - In progress
          table
            thead
              th stuff
              th things
            tbody
              tr
                td
                  1 stuff
                td
                  1 thing
